<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <a class="navbar-brand" aria-disabled="true" style="margin-left: 10px;">Q1</a>
    <div class="navbar-nav" style="margin-left: 20px;">
      <a class="nav-item nav-link active" routerLink="/d1" routerLinkActive="active"><span class="sr-only">
        Display integer, string and date type</span></a>
      <a class="nav-item nav-link active" routerLink="/d2" routerLinkActive="active"><span class="sr-only">
        Display array in an html list</span></a>
      <a class="nav-item nav-link active" routerLink="/d3" routerLinkActive="active"><span class="sr-only">
        Display array in a combo box</span></a>
      <a class="nav-item nav-link active" routerLink="/d4" routerLinkActive="active"><span class="sr-only">
        Display textbox or textarea according to combo</span></a>
      <a class="nav-item nav-link active" routerLink="/d5" routerLinkActive="active"><span class="sr-only">
        User form input and display</span></a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="bg-dark text-center text-white">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); font-size: 14px;">
    <a class="text-white" href="https://mdbootstrap.com/">© 2022 Copyright: Siddhi Khatiwala</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->